 *{
 	margin: 0;
 	padding: 0;
 	background-size: cover;
 	background-position: center;
 	font-family: sans-serif; 
 	background-color: ;
 
 }
 #img{
 	background-image:linear-gradient(rgba(0,0,0,0.5),#009688),url(pic_mountain.jpg); 
 	background-size: cover;
 	background-position: center;
 	height: 100vh;
 
 }
 .mountain-text {
text-align: center;
color: black;
padding-top:0px; 	
 
 }
 .mountain-text h1{
 	font-size: 100px;
 }
 .mountain-text p{
 	font-size: 20px;
 	font-style: italic;
 }
 .mountain-btn{
 	margin: 50px auto 0;
 }
 .mountain-btn a{
 	width: 100px; 
 	text-decoration: none;
 	display: inline-block;
 	margin: 0 10px;
 	padding: 12px 0px;
 	color: #fff;
 	border: .5px solid #fff; 
 	position: relative;
 	transition:color 0.5s;
 	z-index:1;
 }
.mountain-btn a span{
 width: 50%;
 height: 100%;
 position: absolute;
 left: 0;
 background: #fff;
top: 0;
z-index:-1;
transition:0.5s;

}
.mountain-btn a:hover span{
	width: 100%;
}
.mountain-btn a:hover{
	color: #000;
}
#sideNav{
	width: 120px;
	height: 100vh;
	position: fixed;
	 top: 0;
	 right:-10px ;
	 background: #009688;
	 z-index: 2;
	 transition: 0.5s;
}
nav ul li{
list-style: none;
margin: 50px 20px;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
}
#manuBtn{
	width: 20px;
	height: 20px;
	background: #009688;
	text-align: center;
	position: fixed;
	right: 30px;
	top: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;
}
#manuBtn img{
	width: 20px;
	margin-top: 15px;
}
.cities {
   float: left;
   margin: 10px;
   padding: 10px;
   width: 300px;
   height: 300px;
   border: 1px solid black;
   color: #ff11ff;
   background-color:black; 
}  